<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="wrapper">

      {% include header.html %}

      <div class="content">

        <article>

          {{ content }}

        </article>

        <!--aside class="related-posts">

          <h2>Related</h2>

          <ul>

          {% for post in site.related_posts %}
            <li>
              <span>{{ post.date | date: "%B %e, %Y" }}</span> <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endfor %}

          </ul>

        </aside>

      </div> < end .content -->

      {% include footer.html %}

    </div>

  </body>
</html>